<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="/School-Login">School Login</a></button>
    <button><a href="/Staff-Login">Staff Login</a></button>
    <button><a href="/Student-Login">Student Login</a></button>
</body>
</html>