<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="/Add-Std">Add Std</a></button>
    <button><a href="/Add-Std-Div">Add Std-Div</a></button>
    <button><a href="/Add-Staff">Add Staff</a></button>
    <button><a href="/Add-Student">Add Student</a></button>
    <button><a href="/View-Staff">View Staff</a></button>
    <button><a href="/View-Std-Div">View Std-Div</a></button>
    <button><a href="/Manage-Staff">Manage Staff</a></button>
    <button><a href="/Top3-Result">Top 3 Result</a></button>
    <button><a href="/Logout-School">Logout</a></button>
</body>
</html>