<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="/View-Staff-Student">View Staff Student</a></button>  
    <button><a href="/Add-Student-Result">Add Student Result</a></button>  
    <button><a href="/View-Result">View Result</a></button>  
    <button><a href="/Manage-Result">Manage Result</a></button>  
    <button><a href="/Logout-Staff">Logout</a></button>  
</body>
</html>